[Desktop Entry]
Name=LocalSend
Exec=localsend_app
Icon=localsend
Type=Application
Terminal=false
Categories=Utility;FileTransfer;Network;
Comment=Share files to nearby devices
GenericName=Local file sharing
StartupNotify=false
