[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=latest
X-AppImage-Name=LocalSend
Name=LocalSend
Exec=localsend_app
Icon=localsend
Type=Application
Terminal=false
Categories=Utility;
Comment=Share files to nearby devices.
